<form [formGroup]="myForm" (ngSubmit)="save()">
  <div>
    <div *ngFor="let item of monthLists" class="items">
      <input
        id="{{ item.value }}"
        type="checkbox"
        name="{{ item.value }}"
        [checked]="item.checked"
        (click)="toggleMonth(item)"
        />
      <label attr.for="{{ item.value }}">{{ item.name }}</label>

      <span *ngIf="item">
        <select
          class="form-control checkbox-with-drop-down"
          (change)="changeDays($event, item)">
          <option
            *ngFor="let item of daysLists"
            [value]="item.value"
            [selected]="item.key == 30">
            {{ item.key }}
          </option>
        </select>
      </span>
    </div>

    <!-- ! I want by default beginners will be checked and this checkbox should behave like radio button -->
    <div class="items">
      <div>
        <div *ngFor="let item of experienceLists">
          <input
            type="radio"
            name="experience"
            [checked]="item.value == 'beginners'"
            value="{{ item.value }}"
            (change)="onRadioChange($event)"
            />{{ item.value }}
        </div>
      </div>
    </div>
    <div class="items">
      <button type="submit">save</button>
    </div>
  </div>
</form>
<div class="items">
  <pre>Data:: {{ myForm.value | json }}</pre>
</div>
